<!doctype html>
<html lang="en">

  <head>
    <meta charset="utf-8">

    <title>Angular 2 Intro</title>

    <meta name="description" content="Angular 2 Master Class - Getting Started">
    <meta name="author" content="thoughtram">

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <link rel="stylesheet" href="css/reveal.css">
    <link rel="stylesheet" href="css/theme/thoughtram.css" id="theme">
    <link rel="stylesheet" href="css/theme/steve.css" id="theme">

    <!-- For syntax highlighting -->
    <!-- <link rel="stylesheet" href="lib/css/zenburn.css"> -->

    <!-- Printing and PDF exports -->
    <script>
      var link = document.createElement( 'link' );
      link.rel = 'stylesheet';
      link.type = 'text/css';
      link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
      document.getElementsByTagName( 'head' )[0].appendChild( link );
    </script>
    <!--[if lt IE 9]>
    <script src="lib/js/html5shiv.js"></script>
    <![endif]-->
    <script src="vendor/angular.js"></script>
    <style>
      foo-code {
        padding: 0.8em;
        background: #eee;
        display: block;
        color: #aaa;
      }
    </style>
  </head>

  <body ng-app="slides">

    <div class="reveal">

      <!-- Any section element inside of this container is displayed as a slide -->
      <div class="slides">

        <section>
          <img width="250" src="images/angular.svg" alt="" />
          <h1 class="ta-c">Angular 2</h1>
        </section>

        <section>
          <h2>Agenda</h2>
          <ul>
            <li>ES6: Imports, Classes, etc</li>
            <li>Typescript: Decorators, Types, Interfaces</li>
            <li>Angular 2 Basics</li>
            <li>Live Coding (maybe)</li>
          </ul>
        </section>


        <!-- <section class="image-slide">
          <h2>Framework to Platform</h2>
          <img src="images/framework-to-platform.svg">
        </section> -->

        <section class="image-slide">
          <h2>Performance</h2>
          <img class="fragment" src="images/a2-performance-1.svg">
        </section>
        <section class="image-slide">
          <h2>Performance</h2>
          <img src="images/a2-performance-2.svg">
        </section>
        <section class="image-slide">
          <h2>Performance</h2>
          <img src="images/a2-performance-3.svg">
        </section>


        <section class="sub-section-slide" data-background-transition="slide" data-background="#c3002f">
          <h2>ES2015/TypeScript Basics</h2>
        </section>

        <section class="image-slide">
          <img class="fragment" src="images/ts-es2015-1.svg">
        </section>
        <section class="image-slide">
          <img src="images/ts-es2015-2.svg">
        </section>
        <section class="image-slide">
          <img src="images/ts-es2015-3.svg">
        </section>

        <section>
          <h2>Classes</h2>
          <p>Syntactic sugar for JavaScript prototypes introduced in ES2015.</p>
            <pre class="fragment" ng-non-bindable><code>class Car {

  manufacturer:string;

  constructor(manufacturer = 'BMW') {
    this.manufacturer = manufacturer;
  }

  drive(miles) {}
}

let bmw = new Car();</code></pre>
        </section>

        <section>
          <h2>Classes</h2>
          <p>Syntactic sugar for JavaScript prototypes introduced in ES2015.</p>
            <pre ng-non-bindable ><foo-code>class Car {

  <span style="color:#000;">manufacturer:string;</span>

  constructor(manufacturer = 'BMW') {
    this.manufacturer = manufacturer;
  }

  drive(miles) {}
}

let bmw = new Car();</foo-code></pre>
        </section>

        <section>
          <h2>Classes</h2>
          <p>Syntactic sugar for JavaScript prototypes introduced in ES2015.</p>
            <pre ng-non-bindable ><foo-code>class Car {

  manufacturer:string;

  <span style="color: #000;">constructor(manufacturer = 'BMW') {
    this.manufacturer = manufacturer;
  }</span>

  drive(miles) {}
}

let bmw = new Car();</foo-code></pre>
        </section>


        <section>
          <h2>Classes</h2>
          <p>Syntactic sugar for JavaScript prototypes introduced in ES2015.</p>
            <pre ng-non-bindable ><foo-code>class Car {

  manufacturer:string;

  constructor(manufacturer = 'BMW') {
    this.manufacturer = manufacturer;
  }

  <span style="color:#000;">drive(miles) {}</span>
}

let bmw = new Car();</foo-code></pre>
        </section>
        <section>
          <h2>Classes</h2>
          <p>Syntactic sugar for JavaScript prototypes introduced in ES2015.</p>
            <pre ng-non-bindable ><foo-code>class Car {

  manufacturer:string;

  constructor(manufacturer = 'BMW') {
    this.manufacturer = manufacturer;
  }

  drive(miles) {}
}

<span style="color: #000;">let bmw = new Car();</span></foo-code></pre>
        </section>

        <section>
          <h2>Classes</h2>
          <p>ES5 Equivalent</p>
            <pre ng-non-bindable>
<code>var Car = function(manufacturer) {
  manufacturer = manufacturer || 'BMW';
  this.manufacturer = manufacturer;
};

Car.prototype.drive = function() {};

var bmw = new Car();
</code>
          </pre>
        </section>

        <section>
          <pre ng-non-bindable ><code>class Car { ... }

class Convertible extends Car {

}

let cabrio = new Convertible();</code></pre>
        </section>

        <section>
          <pre ng-non-bindable ><foo-code>class Car { ... }

<span style="color: #000;">class Convertible extends Car {

}</span>

let cabrio = new Convertible();</foo-code></pre>
        </section>


        <section>
          <h2>Modules</h2>
          <p>ES2015 brings a module system to the table that enables us to write modular code.</p>
          <pre class="fragment"ng-non-bindable ><code>// Car.js

export class Car { ... }

export class Convertible extends Car {
  ...
}</code></pre>
        </section>

        <section>
          <h2>Modules</h2>
          <p>ES2015 brings a module system to the table that enables us to write modular code.</p>
          <pre ng-non-bindable ><foo-code>// Car.js

<span style="color: #000;">export</span> class Car { ... }

<span style="color: #000;">export</span> class Convertible extends Car {
  ...
}</foo-code></pre>
        </section>

        <section>
          <h2>Modules</h2>
          <p>ES2015 brings a module system to the table that enables us to write modular code.</p>
          <pre ng-non-bindable ><code>// App.js

import {Car, Convertible} from 'Car';

let bmw = new Car();
let cabrio = new Convertible();</code></pre>
        </section>

        <section>
          <h2>Modules</h2>
          <p>ES2015 brings a module system to the table that enables us to write modular code.</p>
          <pre ng-non-bindable ><foo-code>// App.js

<span style="color: #000;">import {Car, Convertible} from 'Car';</span>

let bmw = new Car();
let cabrio = new Convertible();</foo-code></pre>
        </section>

        <section>
          <h2>Modules</h2>
          <p>ES2015 brings a module system to the table that enables us to write modular code.</p>
          <pre ng-non-bindable ><foo-code>// App.js

import {Car, Convertible} from 'Car';

<span style="color: #000;">let bmw = new Car();
let cabrio = new Convertible();</span></foo-code></pre>
        </section>

        <section>
          <h2>Import Syntax</h2>
          <div class="ta-l">
            <p class="footnote ta-l">Import an entire module's contents</p>
            <pre ng-non-bindable><code class="small">import * as myModule from "my-module";</code></pre>
            <p class="footnote ta-l">Import a single member of a module</p>
            <pre ng-non-bindable><code class="small">import {myMember} from "my-module";</code></pre>
            <p class="footnote ta-l">Import multiple members of a module. This inserts both foo and bar into the current scope.</p>
            <pre ng-non-bindable><code class="small">import {foo, bar} from "my-module";</code></pre>
            <p class="footnote ta-l">Import a member with a more convenient alias.</p>
            <pre ng-non-bindable><code class="small">import {reallyReallyLongModuleMemberName as shortName} from "my-module";</code></pre>
            <p class="footnote ta-l">IImport an entire module for side effects only.</p>
            <pre ng-non-bindable><code class="small">import "my-module";</code></pre>
          </div>
        </section>

        <section>
          <h2>Type Annotations</h2>
          <p>Type annotations provide optional static typing. Applied using <code>: T</code> syntax</p>
          <pre class="fragment" ng-non-bindable ><code>var height:number = 6;
var isDone:boolean = true;
var name:string = 'thoughtram';

var list:number[] = [1, 2, 3];
var list:Array&lt;number&gt; = [1, 2, 3];

function add(x: number, y: number): number {
  return x+y;
}</code></pre>
        </section>

        <section>
          <h2>Type Annotations</h2>
          <p>Type annotations provide optional static typing. Applied using <code>: T</code> syntax</p>
          <pre ng-non-bindable ><foo-code><span style="color: #000;">var height:number = 6;
var isDone:boolean = true;
var name:string = 'thoughtram';</span>

var list:number[] = [1, 2, 3];
var list:Array&lt;number&gt; = [1, 2, 3];

function add(x: number, y: number): number {
  return x+y;
}</foo-code></pre>
        </section>

        <section>
          <h2>Type Annotations</h2>
          <p>Type annotations provide optional static typing. Applied using <code>: T</code> syntax</p>
          <pre ng-non-bindable ><foo-code>var height:number = 6;
var isDone:boolean = true;
var name:string = 'thoughtram';

<span style="color: #000;">var list:number[] = [1, 2, 3];
var list:Array&lt;number&gt; = [1, 2, 3];</span>

function add(x: number, y: number): number {
  return x+y;
}</foo-code></pre>
        </section>

        <section>
          <h2>Type Annotations</h2>
          <p>Type annotations provide optional static typing. Applied using <code>: T</code> syntax</p>
          <pre ng-non-bindable ><foo-code>var height:number = 6;
var isDone:boolean = true;
var name:string = 'thoughtram';

var list:number[] = [1, 2, 3];
var list:Array&lt;number&gt; = [1, 2, 3];

function add(<span style="color: #000;">x: number, y: number</span>): number {
  return x+y;
}</foo-code></pre>
        </section>

        <section>
          <h2>Type Annotations</h2>
          <p>Type annotations provide optional static typing. Applied using <code>: T</code> syntax</p>
          <pre ng-non-bindable ><foo-code>var height:number = 6;
var isDone:boolean = true;
var name:string = 'thoughtram';

var list:number[] = [1, 2, 3];
var list:Array&lt;number&gt; = [1, 2, 3];

function add(x: number, y: number)<span style="color: #000;">: number</span> {
  return x+y;
}</foo-code></pre>
        </section>

        <section>
          <h2>Type Annotations</h2>
          <p>Type annotations provide optional static typing. Applied using <code>: T</code> syntax</p>
          <pre ng-non-bindable><code>var height:number = 6;
var isDone:boolean = true;
var name:string = 'thoughtram';

var list:number[] = [1, 2, 3];
var list:Array&lt;number&gt; = [1, 2, 3];

function add(x: number, y: number): number {
  return x+y;
}</code></pre>

        </section>

        <section>
          <h2>Type Annotations</h2>
          <p>Type annotations provide optional static typing. Applied using <code>: T</code> syntax</p>
          <pre ng-non-bindable><code>class Car {

  manufacturer:string;

  constructor(manufacturer = 'BMW') {
    this.manufacturer = manufacturer;
  }

  drive(miles) {}
  }

let bmw = new Car();</code></pre>
          <p class="footnote ta-l">ES6</p>
        </section>

        <section>
          <h2>Type Annotations</h2>
          <p>Type annotations provide optional static typing. Applied using <code>: T</code> syntax</p>
          <pre ng-non-bindable><code>class Car {

  manufacturer:string;

  constructor(manufacturer:string = 'BMW') {
    this.manufacturer = manufacturer;
  }

  drive(miles:number):number {}
}

let bmw = new Car();</code></pre>
          <p class="footnote ta-l">Typescript</p>
        </section>

        <section>
          <h2>Type Annotations</h2>
          <p>Defining an interface</p>

          <pre class="fragment" ng-non-bindable style="font-size: 0.7em!important;line-height: 40px; margin-top: 2em;"><code>interface Car {
  make: string;
  model: string;
  year: number;
  drive(miles: number): number;
  turn(direction: string): void;
  ...
}</code></pre>
        </section>

        <section class="ta-l">
          <h2>Type Annotations</h2>
          <p class="footnote">Find bugs faster</p>
          <pre ng-non-bindable><code>let bmw = new Car();
bmw.drive('200')</code></pre>
          <p class="footnote ta-l">This will show an error in the IDE</p>
          <img src="images/ts-error.png" alt="" />
          <p class="footnote ta-l">...and in the terminal when compiling</p>
          <pre><code class="small c-alert">TypeScript error: app/app.ts(86,11): Error TS2345: Argument of type 'string' is not assignable to parameter of type 'number'.</code>
          </pre>
        </section>


        <section>
          <h2>Type Annotations</h2>
          <p class="footnote">Make your IDE kick ass!</p>
          <img width="80%" src="images/code-completion-2.png" alt="" />
        </section>

        <section>
          <h2>Type Annotations</h2>
          <p class="footnote">Even with third-party libraries!</p>
          <img styles="max-width: 1000px" src="images/code-completion.gif" alt="" />
        </section>

        <section>
          <h2>TSD</h2>
          <p class="footnote"><a href="https://github.com/DefinitelyTyped/tsd">TSD</a>: TypeScript Definition manager (I know, another manager)</p>
          <pre><code>$ tsd install underscore</code></pre>
        </section>

        <section>
          <h2>Decorators</h2>
          <p>A decorator is an <strong>expression</strong> that is evaluated after a class has been defined, that can be used to <strong>annotate or modify</strong> the class in some fashion.</p>
          <tabs >
        </section>

        <section>
          <pre ng-non-bindable style="font-size: 0.70em; line-height: 40px;"><code>@someDecoratorExpression()
class Car {

  @propertyDecorator() manufacturer: string;

  constructor(@paramDecorator() manufacturer: string) {

  }

  @methodDecorator()
  drive() {

  }
}</code></pre>
        </section>

        <section>
          <pre ng-non-bindable style="font-size: 0.70em; line-height: 40px;"><foo-code><span style="color: #000;">@someDecoratorExpression()</span>
class Car {

  <span style="color: #000;">@propertyDecorator()</span> manufacturer: string;

  constructor(<span style="color: #000;">@paramDecorator()</span> manufacturer: string) {

  }

  <span style="color: #000;">@methodDecorator()</span>
  drive() {

  }
}</foo-code></pre>
        </section>



        <section class="statement-slide" data-background="#DD0031">

          <h3 class="ta-c c-light">
            <img width="250" src="images/angular.svg" alt="" /><br>
            Angular 2
          </h3>
        </section>

        <section>
            <pre class="fragment" ng-non-bindable style="font-size: 0.62em!important; line-height: 40px;"><code>






export class ContactsAppComponent {}
</code></pre>
        </section>
        <section>
          <section>
            <pre ng-non-bindable style="font-size: 0.62em!important; line-height: 40px;"><code>import { Component } from '@angular/core';

@Component({
  selector: 'trm-contacts-app',
  template: `<h1>Hello World!</h1>`
})
export class ContactsAppComponent {
  constructor() {}
}
</code></pre>
          </section>

          <section>
            <p class="footnote">ES5</p>
            <pre>
              <code>(function(app) {
  app.ContactsAppComponent =
    ng.core.Component({
      selector: 'trm-contacts-app',
      template: `<h1>Hello World!</h1>`
    })
    .Class({
      constructor: function() {}
    });
})(window.app || (window.app = {}));

              </code>
            </pre>
          </section>

          <section>
            <p class="footnote">React</p>
            <pre>
              <code>import React from 'react';

export class ContactsAppComponent extends React.Component {
  constructor(props) {}
  render() {
    return <h1>Hello World</h1>;
  }
}

              </code>
            </pre>
          </section>

        </section>

        <section>
          <p style="font-size: 1.3em;">Every component is part of an <strong>NgModule</strong></p>
        </section>

        <section>
            <pre ng-non-bindable style="font-size: 0.62em!important; line-height: 40px;"><code>import { NgModule } from '@angular/core';



@NgModule({



})
export class ContactsModule {}
</code></pre>
        </section>

        <section>
            <pre ng-non-bindable style="font-size: 0.62em!important; line-height: 40px;"><code>import { NgModule } from '@angular/core';

import { ContactsAppComponent } from './contacts.component';

@NgModule({

  declarations: [ContactsAppComponent],
  bootstrap: [ContactsAppComponent]
})
export class ContactsModule {}
</code></pre>
        </section>

        <section>
            <pre ng-non-bindable style="font-size: 0.62em!important; line-height: 40px;"><foo-code>import { NgModule } from '@angular/core';

import { <span style="color: #000;">ContactsAppComponent</span> } from './contacts.component';

@NgModule({

  <span style="color: #000;">declarations: [ContactsAppComponent],
  bootstrap: [ContactsAppComponent]</span>
})
export class ContactsModule {}
</foo-code></pre>
        </section>

        <section>
            <pre ng-non-bindable style="font-size: 0.62em!important; line-height: 40px;"><code>import { NgModule } from '@angular/core';
import { BrowserModule } from '@angular/platform-browser';
import { ContactsAppComponent } from './contacts.component';

@NgModule({
  imports: [BrowserModule],
  declarations: [ContactsAppComponent],
  bootstrap: [ContactsAppComponent]
})
export class ContactsModule {}
</code></pre>
        </section>

        <section>
            <pre ng-non-bindable style="font-size: 0.62em!important; line-height: 40px;"><foo-code>import { NgModule } from '@angular/core';
import { <span style="color: #000;">BrowserModule</span> } from '@angular/platform-browser';
import { ContactsAppComponent } from './contacts.component';

@NgModule({
  <span style="color: #000;">imports: [BrowserModule],</span>
  declarations: [ContactsAppComponent],
  bootstrap: [ContactsAppComponent]
})
export class ContactsModule {}
</foo-code></pre>
        </section>

        <section>
            <pre ng-non-bindable style="font-size: 0.85em; line-height: 40px;"><code>&lt;html lang="en"&gt;
  &lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;Contacts&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;



    &lt;script src="..."&gt;&lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre>
        </section>

        <section>
            <pre ng-non-bindable style="font-size: 0.85em; line-height: 40px;"><code>&lt;html lang="en"&gt;
  &lt;head&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;title&gt;Contacts&lt;/title&gt;
  &lt;/head&gt;
  &lt;body&gt;

    &lt;trm-contacts-app&gt;Loading...&lt;/trm-contacts-app&gt;

    &lt;script src="..."&gt;&lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre>
        </section>



        <section>
          <div class="fragment">
          <h2>Directive Dependencies</h2>

          <p>Directives/Components are added to an <strong>NgModule</strong>'s <code>declarations</code> property.</p>

            <pre ng-non-bindable style="font-size: 0.60em!important; margin-top: 1em; line-height: 40px;"><code>

@NgModule({
  imports: [BrowserModule],
  declarations: [ContactsAppComponent],
  bootstrap: [ContactsAppComponent]
})
export class ContactsModule {}
</code></pre>
          </div>
        </section>

        <section>
          <h2>Directive Dependencies</h2>

          <p>Directives/Components are added to an <strong>NgModule</strong>'s <code>declarations</code> property.</p>

          <pre ng-non-bindable style="font-size: 0.60em!important; margin-top: 1em; line-height: 40px;"><code>import { ContactsHeaderComponent } from './contacts-header';

@NgModule({
  imports: [BrowserModule],
  declarations: [ContactsAppComponent, ContactsHeaderComponent],
  bootstrap: [ContactsAppComponent]
})
export class ContactsModule {}
</code></pre>
        </section>

        <section>
          <h2>Directive Dependencies</h2>

          <p>Directives/Components are added to an <strong>NgModule</strong>'s <code>declarations</code> property.</p>

          <pre ng-non-bindable style="font-size: 0.60em!important; margin-top: 1em; line-height: 40px;"><foo-code>import { <span style="color: #000;">ContactsHeaderComponent</span> } from './contacts-header';

@NgModule({
  imports: [BrowserModule],
  declarations: [ContactsAppComponent, <span style="color: #000;">ContactsHeaderComponent</span>],
  bootstrap: [ContactsAppComponent]
})
export class ContactsModule {}
</foo-code></pre>
        </section>

        <section>
          <h2>Directive Dependencies</h2>

          <p>Directives/Components can then be used in components throughout that module.</p>

          <pre ng-non-bindable style="font-size: 0.64em!important; margin-top: 1em; line-height: 40px;"><code>@Component({
  selector: 'trm-contacts-app',
  template: `<h1>Hello World!</h1>`,
})
export class ContactsAppComponent {}
</code></pre>
        </section>

        <section>
          <h2>Directive Dependencies</h2>

          <p>Directives/Components can then be used in components throughout that module.</p>

          <pre ng-non-bindable style="font-size: 0.64em!important; margin-top: 1em; line-height: 40px;"><foo-code>@Component({
  selector: 'trm-contacts-app',
  template: '<span style="color: #000;">&lt;trm-contacts-header&gt;&lt;/trm-contacts-header&gt;</span>'
})
export class ContactsAppComponent {}
</foo-code></pre>
        </section>


        <section class="sub-section-slide" data-background-transition="slide" data-background="#DD0031">
          <h2>Displaying Data</h2>
        </section>


        <section>
          <h2>Core Concepts</h2>
            <p ng-non-bindable><strong>{{ }}</strong> = interpolation<br>
              <pre ng-non-bindable>
                <code><h1>{{ user.name }}</h1></code></pre>
          </p>
        </section>

        <section>
          <h2>Core Concepts</h2>
            <p><strong>[ ]</strong> = things going in / binding to props - native props or custom<br>
              <pre>
                <code><img id="foo" [src]="user.avatar"/>
// $('#foo').src = user.avatar</code></pre>
<pre><code><my-component [user]="user"></my-component>
// pass user data into my component</code></pre>
          </p>
        </section>

        <section>
          <h2>Core Concepts</h2>
          <p><strong>( )</strong> = things coming out - native or custom events<br></p>
          <p class="footnote ta-l">Can access native event with $event</p>
          <pre><code><a id="foo" (click)="addUser($event)"></a>

/* $('#foo').on('click', addUser) */</code></pre>
          <p class="footnote ta-l">Custom event</p>
          <pre ng-non-bindable><code>&lt;a (myCustomEvent)="addUser()"&gt;&lt;/a&gt;</code></pre>
        </section>

        <section>
          <h2>Core Concepts</h2>
          <p><strong>[(ngModel)]</strong> = 2 way data binding</small></p>
          <p class="footnote">Combines input and output</p>
          <pre ng-non-bindable style="font-size: 1.2em; line-height: 40px;"><code>&lt;input [(ngModel)]="name"&gt;
<p>Hello, {{name}}!</code></pre></p>
        </section>

        <section>
          <h2>Core Concepts</h2>
          <p><strong>#</strong> = reference to the element<br>
            <pre ng-non-bindable><code>&lt;input #myInput type="text" /&gt;

&lt;button (click)="focusInput($event, myInput)"&gt;&lt;/button&gt;
</code></pre>

            <pre ng-non-bindable><code>focusInput(event, input) {
  event.preventDefault();
  input.focus();
}</code></pre>
          </p>
        </section>


        <section>
          <h2>Core Concepts</h2>
          <p><strong>*</strong> = directive which manipulates the DOM <br><small>(rarely will you create these yourself)</small></p>
          <p class="ta-l"><strong>*ngFor</strong>: loop over array</p>
            <pre ng-non-bindable><code>&lt;ul&gt;
  &lt;li *ngFor="let hero of heroes"&gt;
    {{ hero }}
  &lt;/li&gt;
&lt;/ul&gt;</code></pre>
        </section>


        <section>
          <h2>Core Concepts</h2>
          <p><strong>*</strong> = directive which manipulates the DOM <br><small>(rarely will you create these yourself)</small></p>
          <p class="ta-l"><strong>*ngIf</strong>: conditional display</p>
            <pre ng-non-bindable><code>&lt;p *ngIf="heroes.length > 3"&gt;There are many heroes!&lt;/p&gt;</code></pre>
        </section>

        <section>
          <h2>Examples</h2>
        </section>

        <section>
            <pre ng-non-bindable style="font-size: 1.2em; line-height: 40px;"><code>@Component({
  selector: 'trm-contacts-app',
  template: 'Hello {{name}}'
})
export class ContactsAppComponent {
  name = 'Angular 2';
}
</code></pre>
        </section>

        <section>
            <pre ng-non-bindable style="font-size: 1.2em; line-height: 40px;"><foo-code>@Component({
  selector: 'trm-contacts-app',
  <span style="color: #000;">template: 'Hello {{name}}'</span>
})
export class ContactsAppComponent {
  <span style="color: #000;">name = 'Angular 2';</span>
}
</foo-code></pre>
        </section>

        <section>
          <h2>Defining a Contact</h2>
          <p>To enable type safety during compilation, we can define interfaces using the <code>interface</code> key word</p>

          <pre class="fragment" ng-non-bindable style="font-size: 0.7em!important;line-height: 40px; margin-top: 2em;"><code>interface Contact {
  id: Number;
  name: string;
  email: string;
  phone: string;
  ...
}</code></pre>
        </section>

        <section>
          <pre ng-non-bindable style="font-size: 1.2em; line-height: 40px;"><code>import { Contact } from './models/contact';

@Component(...)
export class ContactsAppComponent {







}
</code></pre>
        </section>

        <section>
          <pre ng-non-bindable style="font-size: 1.2em; line-height: 40px;"><code>import { Contact } from './models/contact';

@Component(...)
export class ContactsAppComponent {
  contact: Contact = {
    id: 1,
    name: 'Christoph',
    email: 'chris@burdorf.io',
    image: 'path/to/image',
    ...
  }
}
</code></pre>
        </section>

        <section>
          <pre ng-non-bindable style="font-size: 1.2em; line-height: 40px;"><code>@Component({
  selector: 'trm-contacts-app',
  template: `
    <div>
      <img [src]="contact.image">
      <span>
        {{contact.name}}
      </span>
    </div>
  `
})
export class ContactsAppComponent {
  ...
}
</code></pre>
        </section>

        <section>
          <pre ng-non-bindable style="font-size: 1.2em; line-height: 40px;"><foo-code>@Component({
  selector: 'trm-contacts-app',
  template: `
    <span style="color: #000;">&lt;div&gt;
      &lt;img [src]="contact.image"&gt;
      &lt;span&gt;
        {{contact.name}}
      &lt;/span&gt;
    &lt;/div&gt;</span>
  `
})
export class ContactsAppComponent {
  ...
}
</foo-code></pre>
        </section>

        <section data-background-transition="slide">
          <h2>Creating a list</h2>
        </section>

        <section class="image-slide">
          <img src="images/contacts-list.png">
        </section>

        <section>
          <pre ng-non-bindable style="font-size: 0.9em; line-height: 40px;"><code>export const CONTACTS: Contact[] = [
  { id: 1, firstname: 'Christoph', ...},
  { id: 2, firstname: 'Pascal', ...},
  { id: 3, firstname: 'Julie', ...},
  { id: 4, firstname: 'Igor', ...},
  ...
];
</code></pre>
        </section>

        <section>
          <pre ng-non-bindable style="font-size: 1.2em; line-height: 40px;"><code>import { CONTACTS } from './data/contact-data';

@Component({
  selector: 'trm-contacts-app',
  template: `
    <ul>
      <li>
        <!-- each contact goes here -->
      </li>
    </ul>
  `
})
export class ContactsAppComponent {
  contacts: Contact[] = CONTACTS;
}
</code></pre>
        </section>

        <section>
          <pre ng-non-bindable style="font-size: 1.2em; line-height: 40px;"><foo-code><span style="color: #000;">import { CONTACTS } from './data/contact-data';</span>

@Component({
  selector: 'trm-contacts-app',
  template: `
    <span style="color: #000;">&lt;ul&gt;
      &lt;li&gt;
        &lt;!-- each contact goes here --&gt;
      &lt;/li&gt;
    &lt;/ul&gt;</span>
  `
})
export class ContactsAppComponent {
  <span style="color: #000;">contacts: Contact[] = CONTACTS;</span>
}
</foo-code></pre>
        </section>

        <section>
          <pre ng-non-bindable style="font-size: 1.2em; line-height: 40px;"><foo-code>@Component({
  selector: 'trm-contacts-app',
  template: `
    <span style="color: #000;">&lt;ul&gt;
      &lt;li&gt;

        &lt;!-- each contact goes here --&gt;


      &lt;/li&gt;
    &lt;/ul&gt;</span>
  `
})
export class ContactsAppComponent {
  ...
}
</foo-code></pre>
        </section>

        <section>
          <pre ng-non-bindable style="font-size: 1.2em; line-height: 40px;"><foo-code>@Component({
  selector: 'trm-contacts-app',
  template: `
    <span style="color: #000;">&lt;ul&gt;
      &lt;li *ngFor="let contact of contacts"&gt;
        &lt;img [src]="contact.image"&gt;
        &lt;span&gt;
          {{contact.name}}
        &lt;/span&gt;
      &lt;/li&gt;
    &lt;/ul&gt;</span>
  `
})
export class ContactsAppComponent {
  ...
}
</foo-code></pre>
        </section>


        <section>
          <div>
            <h2>Services</h2>
            <p>We can create services in Angular using <strong>ES2015 classes</strong>.</p>
            <pre class="fragment" ng-non-bindable style="margin-top: 1.5em; font-size: 1.2em; line-height: 40px;"><code>import { Injectable } from '@angular/core';

@Injectable()
export class ContactsService {

  private contacts: Contact[] = CONTACTS;

  getContacts() {
    return this.contacts;
  }
}
</code></pre>
          </div>
        </section>

        <section>
          <h2>Injecting Dependencies</h2>

          <p>Dependencies can be injected using TypeScript type annotations.</p>
          <pre ng-non-bindable style="margin-top: 1.5em; font-size: 1.2em; line-height: 40px;"><code>@Component(...)
export class ContactsAppComponent {

  contacts: Contact[];

  constructor(contactsService: ContactsService) {
    this.contacts = contactsService.getContacts();
  }
}
</code></pre>
        </section>

        <section>
          <h2>Injecting Dependencies</h2>

          <p>Dependencies can be injected using TypeScript type annotations.</p>
          <pre ng-non-bindable style="margin-top: 1.5em; font-size: 1.2em; line-height: 40px;"><foo-code>@Component(...)
export class ContactsAppComponent {

  contacts: Contact[];

  constructor(<span style="color: #000;">contactsService: ContactsService</span>) {
    this.contacts = contactsService.getContacts();
  }
}
</foo-code></pre>
        </section>

        <section>
          <h2>Lifecycle Hooks</h2>

          <p>Directives and Components have lifecycle hooks. Some of them are:</p>

          <ul>
            <li class="fragment"><strong>ngOnInit</strong> - Initializes directive</li>
            <li class="fragment"><strong>ngOnChanges</strong> - Respond after Angular sets data-bound property</li>
            <li class="fragment"><strong>ngDoCheck</strong> - Custom change detection</li>
            <li class="fragment"><strong>ngOnDestroy</strong> - Cleanup before Angular destroys directive</li>
          </ul>
        </section>

        <section>
          <h2>OnInit Lifecycle</h2>
          <p>We use <strong>ngOnInit</strong> to do initialization work in the component.</p>
          <pre ng-non-bindable style="margin-top: 1.5em; font-size: 0.66em!important; line-height: 32px;"><code>import { OnInit } from '@angular/core';
...
export class ContactsAppComponent implements OnInit {

  contacts: Contact[];

  constructor(private contactsService: ContactsService) {}

  ngOnInit() {
    this.contacts = this.contactsService.getContacts();
  }
}
</code></pre>
        </section>

        <section>
          <h2>OnInit Lifecycle</h2>

          <p>We use <strong>ngOnInit</strong> to do initialization work in the component.</p>
          <pre ng-non-bindable style="margin-top: 1.5em; font-size: 0.66em!important; line-height: 32px;"><foo-code><span style="color: #000;">import { OnInit } from '@angular/core';</span>
...
export class ContactsAppComponent <span style="color: #000;">implements OnInit</span> {

  contacts: Contact[];

  constructor(<span style="color: #000;">private contactsService: ContactsService</span>) {}

  <span style="color: #000;">ngOnInit() {</span>
    this.contacts = this.contactsService.getContacts();
  <span style="color: #000;">}</span>
}
</foo-code></pre>
        </section>


        <section class="image-slide">
          <img src="images/a2-routing-2.svg">
        </section>

        <!-- <section> -->
        <!--   <h2>Adding Router providers</h2> -->

        <!--   <p><code>ROUTER_PROVIDERS</code> configure the injector for router dependencies.</p> -->
        <!--   <pre ng-non-bindable style="font-size: 0.62em!important; line-height: 40px; margin-top: 1.5em;"><foo-code>import { <span style="color: #000;">ROUTER_PROVIDERS</span> } from '@angular/router-deprecated'; -->

<!-- @Component({ -->
  <!-- ... -->
  <!-- providers: [ -->
    <!-- ContactsService, -->
    <!-- <span style="color: #000;">ROUTER_PROVIDERS</span> -->
  <!-- ] -->
<!-- }) -->
<!-- class ContactsAppComponent {} -->
<!-- </foo-code></pre> -->
        <!-- </section> -->

        <section>
          <h2>Defining Routes</h2>

          <p>We define routes as a collection of <strong>Route</strong> objects that have a <strong>path</strong> and a <strong>component</strong></p>

          <pre ng-non-bindable style="font-size: 0.68em!important; line-height: 40px; margin-top: 1.5em;"><code>import { ContactsListComponent } from './contacts-list';

export const ContactsAppRoutes = [
  { path: '', component: ContactsListComponent }
]
</code></pre>
        </section>

        <section>
          <h2>Defining Routes</h2>

          <p>We define routes as a collection of <strong>Route</strong> objects that have a <strong>path</strong> and a <strong>component</strong></p>

          <pre ng-non-bindable style="font-size: 0.68em!important; line-height: 40px; margin-top: 1.5em;"><foo-code>import { <span style="color: #000;">ContactsListComponent</span> } from './contacts-list';

export const ContactsAppRoutes = [
  <span style="color: #000;">{ path: '', component: ContactsListComponent }</span>
]
</foo-code></pre>
        </section>

        <!-- <section> -->
        <!--   <h2>Configuring Router</h2> -->

        <!--   <p><code>provideRouter()</code> configures the router with our custom routes.</p> -->
        <!--   <pre class="fragment" ng-non-bindable style="font-size: 0.62em!important; line-height: 40px; margin-top: 1.5em;"><code>import { provideRouter } from '@angular/router'; -->
<!-- import { ContactsAppRoutes } from './contacts-app.routes'; -->

<!-- bootstrap(ContactsAppComponent, [ -->
  <!-- provideRouter(ContactsAppRoutes) -->
  <!-- ... -->
<!-- ]); -->
<!-- </code></pre> -->
        <!-- </section> -->

        <!-- <section> -->
        <!--   <h2>Configuring Router</h2> -->

        <!--   <p><code>provideRouter()</code> configures the router with our custom routes.</p> -->
        <!--   <pre ng-non-bindable style="font-size: 0.62em!important; line-height: 40px; margin-top: 1.5em;"><foo-code>import { <span style="color: #000;">provideRouter</span> } from '@angular/router'; -->
<!-- import { <span style="color: #000;">ContactsAppRoutes</span> } from './contacts-app.routes'; -->

<!-- bootstrap(ContactsAppComponent, [ -->
  <!-- <span style="color: #000;">provideRouter(ContactsAppRoutes)</span> -->
  <!-- ... -->
<!-- ]); -->
<!-- </foo-code></pre> -->
        <!-- </section> -->

        <!-- <section> -->
        <!--   <h2>Configuring Routes</h2> -->

        <!--   <p>We use the <code>@RouteConfig()</code> decorator to configure routes for our application.</p> -->

        <!--   <pre ng-non-bindable style="font-size: 0.64em!important; line-height: 40px; margin-top: 1.5em;"><code>import { RouteConfig } from '@angular/router-deprecated'; -->

<!-- @Component() -->
<!-- @RouteConfig([ -->
  <!-- // route definition goes here -->
<!-- ]) -->
<!-- class ContactsAppComponent { -->
  <!-- ... -->
<!-- } -->
<!-- </code></pre> -->

        <!-- </section> -->

        <!-- <section> -->
        <!--   <h2>Configuring Routes</h2> -->

        <!--   <p>We use the <code>@RouteConfig()</code> decorator to configure routes for our application.</p> -->

        <!--   <pre ng-non-bindable style="font-size: 0.64em!important; line-height: 40px; margin-top: 1.5em;"><foo-code>import { <span style="color: #000;">RouteConfig</span> } from '@angular/router-deprecated'; -->

<!-- @Component() -->
<!-- <span style="color: #000;">@RouteConfig([ -->
  <!-- // route definition goes here -->
<!-- ])</span> -->
<!-- class ContactsAppComponent { -->
  <!-- ... -->
<!-- } -->
<!-- </foo-code></pre> -->

        <!-- </section> -->


        <section>
          <h2>Displaying Components</h2>

          <p><code>&lt;router-outlet&gt;</code> directive specifies a <strong>viewport</strong> where components should be loaded into.</p>

          <pre ng-non-bindable style="line-height: 40px; font-size: 0.60em!important; margin-top: 1.5em;"><code>@Component({
  selector: 'trm-contacts-app',
  template: '...',
  styleUrls: ['contacts.component.css']
})
class ContactsAppComponent {...}</code></pre>
        </section>

        <!-- <section> -->
        <!--   <h2>Displaying Components</h2> -->

        <!--   <p><code>&lt;router-outlet&gt;</code> directive specifies a <strong>viewport</strong> where components should be loaded into.</p> -->

        <!--   <pre ng-non-bindable style="line-height: 40px; font-size: 0.60em!important; margin-top: 1.5em;"><code>@Component({ -->
  <!-- selector: 'trm-contacts-app', -->
  <!-- template: '<router-outlet></router-outlet>', -->
  <!-- styleUrls: ['contacts.component.css'] -->
<!-- }) -->
<!-- class ContactsAppComponent {...}</code></pre> -->
        <!-- </section> -->

        <section>
          <h2>Displaying Components</h2>

          <p><code>&lt;router-outlet&gt;</code> directive specifies a <strong>viewport</strong> where components should be loaded into.</p>

          <pre ng-non-bindable style="line-height: 40px; font-size: 0.60em!important; margin-top: 1.5em;"><foo-code>@Component({
  selector: 'trm-contacts-app',
  template: '<span style="color: #000;">&lt;router-outlet&gt;&lt;/router-outlet&gt;</span>',
  styleUrls: ['contacts.component.css']
})
class ContactsAppComponent {...}</foo-code></pre>
        </section>

        <section>
          <h2>Links with <code>RouterLink</code></h2>
          <p><code>RouterLink</code> lets link to a specific part of our app.</p>
          <pre class="fragment" ng-non-bindable style="font-size: 0.65em!important; line-height: 40px; margin-top: 1.5em;"><code>&lt;li *ngFor="let contact of contacts"&gt;

    &lt;img src="{{contact.image}}"&gt;
    &lt;span&gt;
      {{contact.name}}
    &lt;/span&gt;

&lt;/li&gt;
</code></pre>
        </section>

        <section>
          <h2>Links with <code>RouterLink</code></h2>
          <p><code>RouterLink</code> lets link to a specific part of our app.</p>
          <pre ng-non-bindable style="font-size: 0.65em!important; line-height: 40px; margin-top: 1.5em;"><code>&lt;li *ngFor="let contact of contacts"&gt;
  &lt;a [routerLink]="['/contact', contact.id]"&gt;
    &lt;img src="{{contact.image}}"&gt;
    &lt;span&gt;
      {{contact.name}}
    &lt;/span&gt;
  &lt;/a&gt;
&lt;/li&gt;
</code></pre>
        </section>

        <section>
          <h2>Links with <code>RouterLink</code></h2>
          <p><code>RouterLink</code> lets link to a specific part of our app.</p>
          <pre ng-non-bindable style="font-size: 0.65em!important; line-height: 40px; margin-top: 1.5em;"><foo-code>&lt;li *ngFor="let contact of contacts"&gt;
  &lt;a <span style="color: #000;">[routerLink]="['/contact', contact.id]"</span>&gt;
    &lt;img src="{{contact.image}}"&gt;
    &lt;span&gt;
      {{contact.name}}
    &lt;/span&gt;
  &lt;/a&gt;
&lt;/li&gt;
</foo-code></pre>
        </section>

        <section>
          <pre ng-non-bindable style="font-size: 0.62em!important; line-height: 40px; margin-top: 1.5em;"><code>import { ContactsListComponent } from './contacts-list';


export const ContactsAppRoutes = [
  { path: '', component: ContactsListComponent }

]
</code></pre>
        </section>

        <section>
          <pre ng-non-bindable style="font-size: 0.62em!important; line-height: 40px; margin-top: 1.5em;"><code>import { ContactsListComponent } from './contacts-list';
import { ContactsDetailComponent } from './contacts-detail';

export const ContactsAppRoutes = [
  { path: '', component: ContactsListComponent },
  { path: 'contact/:id', component: ContactsDetailComponent }
]
</code></pre>
        </section>

        <section>
          <pre ng-non-bindable style="font-size: 0.62em!important; line-height: 40px; margin-top: 1.5em;"><foo-code>import { ContactsListComponent } from './contacts-list';
import { ContactsDetailComponent } from './contacts-detail';

export const ContactsAppRoutes = [
  { path: '', component: ContactsListComponent },
  <span style="color: #000;">{ path: 'contact/:id', component: ContactsDetailComponent }</span>
]
</foo-code></pre>
        </section>

        <!-- <section> -->
        <!--   <h2><code>RouterLink</code> DSL</h2> -->
        <!--   <pre class="fragment"><code>&lt;a [routerLink]="['contact', contact.id]"&gt;</code></pre> -->
        <!--   <pre class="fragment" ng-non-bindable style="font-size: 0.60em!important; line-height: 40px;"><code>@Component() -->
<!-- @RouteConfig([ -->
  <!-- ... -->
  <!-- { -->
    <!-- path: '/contact/:id', -->
    <!-- component: ContactsDetailComponent, -->
    <!-- name: 'Detail' -->
  <!-- } -->
<!-- ]) -->
<!-- class ContactsAppComponent {...} -->
<!-- </code></pre> -->
        <!-- </section> -->

        <!-- <section> -->
        <!--   <h2><code>RouterLink</code> DSL</h2> -->
        <!--   <pre><foo-code>&lt;a [routerLink]="['<span style="color: #000">/</span>Detail', {id: contact.id}]"&gt;</foo-code></pre> -->
        <!--   <pre ng-non-bindable style="font-size: 0.60em!important; line-height: 40px;"><foo-code>@Component() -->
<!-- @RouteConfig([ -->
  <!-- ... -->
  <!-- { -->
    <!-- path: '/contact/:id', -->
    <!-- component: ContactsDetailComponent, -->
    <!-- name: 'Detail' -->
  <!-- } -->
<!-- ]) -->
<!-- <span style="color: #000;">class ContactsAppComponent {...}</span> -->
<!-- </foo-code></pre> -->
        <!-- </section> -->

        <!-- <section> -->
        <!--   <h2><code>RouterLink</code> DSL</h2> -->
        <!--   <pre><foo-code>&lt;a [routerLink]="['/<span style="color: #000">Detail</span>', {id: contact.id}]"&gt;</foo-code></pre> -->
        <!--   <pre ng-non-bindable style="font-size: 0.60em!important; line-height: 40px;"><foo-code>@Component() -->
<!-- @RouteConfig([ -->
  <!-- ... -->
  <!-- { -->
    <!-- path: '/contact/:id', -->
    <!-- component: ContactsDetailComponent, -->
    <!-- name: '<span style="color: #000;">Detail</span>' -->
  <!-- } -->
<!-- ]) -->
<!-- class ContactsApp {...} -->
<!-- </foo-code></pre> -->
        <!-- </section> -->

        <section>
          <h2>Retrieving <code>parameters</code></h2>

          <p>We can access a snapshot of a route state via <code>ActivatedRoute.snapshot</code></p>

          <pre class="fragment" ng-non-bindable style="margin-top: 1.5em; font-size: 1.2em; line-height: 35px;"><code>import { ActivatedRoute } from '@angular/router';

@Component(...)
class ContactsDetailComponent {

  constructor(route: ActivatedRoute) {
    let id = this.route.snapshot.params['id'];
    this.contact = this.contactsService
                       .getContact(id);
  }
}
</code></pre>
        </section>

        <section>
          <h2>Retrieving <code>parameters</code></h2>

          <p>We can access a snapshot of a route state via <code>ActivatedRoute.snapshot</code></p>

          <pre ng-non-bindable style="margin-top: 1.5em; font-size: 1.2em; line-height: 35px;"><foo-code>import { <span style="color: #000;">ActivatedRoute</span> } from '@angular/router';

@Component(...)
class ContactsDetailComponent {

  constructor(<span style="color: #000;">route: ActivatedRoute</span>) {
    let id = <span style="color: #000;">this.route.snapshot.params['id']</span>;
    this.contact = this.contactsService
                       .getContact(id)
  }
}
</foo-code></pre>
        </section>

        <!-- <section> -->
        <!--   <h2>Retrieving <code>RouteParams</code></h2> -->

        <!--   <p><code>RouteParams</code> is an <strong>injectable immutable</strong> map of parameters for the given route. -->

        <!--   <pre ng-non-bindable style="margin-top: 1.5em; font-size: 1.2em; line-height: 40px;"><foo-code>@Component(...) -->
<!-- class ContactsDetailComponent { -->

  <!-- constructor(<span style="color: #000;">routeParams: RouteParams</span>) { -->
    <!-- // ask for routeParams.get('id') -->
  <!-- } -->
<!-- } -->
<!-- </foo-code></pre> -->
        <!-- </section> -->

        <section class="sub-section-slide" data-background-transition="slide" data-background="#c3002f">
          <h2>Fetching Data</h2>
        </section>

        <section>
          <div class="fragment">
          <h2>Http in Angular 2</h2>

          <p>Angular 2 introduces a completely redesigned Http layer based on Observables.</p>

          <ul style="margin-top: 1.5em;">
            <li class="fragment">Event-driven stream of notifications</li>
            <li class="fragment">Enables functional programming structures</li>
            <li class="fragment">Allows to transform to promises if needed</li>
          </ul>
          </div>
        </section>

        <!-- <section> -->
        <!--   <h2>Configuring the Injector</h2> -->

        <!--   <p><code>HTTP_PROVIDERS</code> configure the injector for http dependencies</p> -->
        <!--   <pre ng-non-bindable style="font-size: 1.2em; line-height: 40px; margin-top: 1.5em;"><foo-code>import { HTTP_PROVIDERS } from '@angular/http'; -->
<!-- <span style="color: #000;">import 'rxjs/add/operator/map';</span> -->

<!-- @Component({ -->
  <!-- ... -->
  <!-- providers: [HTTP_PROVIDERS] -->
<!-- }) -->
<!-- export class ContactsAppComponent {...} -->
<!-- </foo-code></pre> -->
        <!-- </section> -->

        <section>
          <h2>Http Service</h2>

          <p><code>Http</code> is an injectable class with methods to perform http requests.</p>
          <pre ng-non-bindable style="font-size: 1.2em; line-height: 40px; margin-top: 1.5em;"><code>import { Http } from '@angular/http';
import { Injectable } from '@angular/core';

@Injectable()
class ContactsService {
  constructor(private http: Http) {

  }
}</code></pre>
        </section>

        <section>
          <h2>Http Service</h2>

          <p><code>Http</code> is an injectable class with methods to perform http requests.</p>
          <pre ng-non-bindable style="font-size: 1.2em; line-height: 40px; margin-top: 1.5em;"><foo-code><span style="color: #000;">import { Http } from '@angular/http';</span>
import { Injectable } from '@angular/core';

@Injectable()
class ContactsService {
  constructor(<span style="color: #000;">private http: Http</span>) {

  }
}</foo-code></pre>
        </section>

        <section>
          <h2>Http Service</h2>

          <p><code>Http</code> is an injectable class with methods to perform http requests.</p>
          <pre ng-non-bindable style="font-size: 1.2em; line-height: 40px; margin-top: 1.5em;"><foo-code>import { Http } from '@angular/http';
<span style="color: #000;">import { Injectable } from '@angular/core';</span>

<span style="color: #000;">@Injectable()</span>
class ContactsService {
  constructor(private http: Http) {

  }
}</foo-code></pre>
        </section>

        <section>
          <h2>Http and Observables</h2>
          <p><code>Http</code> returns an Observable which will emit a single response it's received.</p>
          <pre ng-non-bindable style="font-size: 1.2em; line-height: 40px; margin-top: 1.5em;"><code>class ContactsService {
  ...
  getContacts() {
    return this.http.get('http://myapi.com/contacts')
      .map((res) => { return res.json(); })
      .map((data) => { return data.items; });
  }
}</code></pre>
        </section>

        <section>
          <h2>Http and Observables</h2>
          <p><code>Http</code> returns an Observable which will emit a single response it's received.</p>
          <pre ng-non-bindable style="font-size: 1.2em; line-height: 40px; margin-top: 1.5em;"><foo-code>class ContactsService {
  ...
  getContacts() {
    return <span style="color: #000;">this.http.get('http://myapi.com/contacts')</span>
      .map((res) => { return res.json(); })
      .map((data) => { return data.items; });
  }
}</foo-code></pre>
        </section>

        <section>
          <h2>Http and Observables</h2>
          <p><code>Http</code> returns an Observable which will emit a single response it's received.</p>
          <pre ng-non-bindable style="font-size: 1.2em; line-height: 40px; margin-top: 1.5em;"><foo-code>class ContactsService {
  ...
  getContacts() {
    return this.http.get('http://myapi.com/contacts')
      <span style="color: #000;">.map((res) => { return res.json(); })</span>
      <span style="color: #000;">.map((data) => { return data.items; });</span>
  }
}</foo-code></pre>
        </section>

        <section>
          <h2>Http and Observables</h2>
          <p><code>Http</code> returns an Observable which will emit a single response it's received.</p>
          <pre ng-non-bindable style="font-size: 1.2em; line-height: 40px; margin-top: 1.5em;"><foo-code>class ContactsService {
  ...
  getContacts() {
    return this.http.get('http://myapi.com/contacts')
      <span style="color: #000;">.map(res => res.json())</span>
      <span style="color: #000;">.map(data => data.items);</span>
  }
}</foo-code></pre>
        </section>

        <section>
          <h2>Subscribing to Http</h2>

          <p>We can subscribe to Observables using <code>.subscribe()</code></p>
          <pre ng-non-bindable style="font-size: 1.2em; line-height: 40px; margin-top: 1.5em;"><code>@Component(...)
class ContactsListComponent {

  constructor(contactsService: ContactsService) {
    contactsService.getContacts()
      .subscribe(contacts => this.contacts = contacts);
  }

}</code></pre>
        </section>

        <section>
          <h2>Subscribing to Http</h2>

          <p>We can subscribe to Observables using <code>.subscribe()</code></p>
          <pre ng-non-bindable style="font-size: 1.2em; line-height: 40px; margin-top: 1.5em;"><foo-code>@Component(...)
class ContactsListComponent {

  constructor(contactsService: ContactsService) {
    <span style="color: #000;">contactsService.getContacts()
      .subscribe(contacts => this.contacts = contacts);</span>
  }

}</foo-code></pre>

        </section>

        <section>
          <h2>Safe Navigation Operator</h2>
          <p>Angular throws a null reference error when null objects are accessed:</p>

          <pre ng-non-bindable style="font-size: 1.2em; line-height: 40px; margin-top: 1.5em;"><code>The null contact's name is {{nullContact.name}}</code></pre>

          <div class="fragment">
            <p style="margin-top: 1em;">Results in: </p>
            <pre ng-non-bindable style="font-size: 0.6em!important; line-height: 40px; margin-top: 1.5em;"><code>TypeError: Cannot read property 'name' of null in [null]</code></pre>
          </div>
        </section>

        <section>
          <h2>Safe Navigation Operator</h2>
          <p>The "safe navigation" operator (<code>?.</code>) is a convenient way to guard against nulls in property paths</p>

          <pre ng-non-bindable style="font-size: 1.2em; line-height: 40px; margin-top: 1.5em;"><code>The null contact's name is {{nullContact?.name}}</code></pre>

        </section>

        <section>
          <h2>Safe Navigation Operator</h2>
          <p>The "safe navigation" operator (<code>?.</code>) is a convenient way to guard against nulls in property paths</p>

          <pre ng-non-bindable style="font-size: 1.2em; line-height: 40px; margin-top: 1.5em;"><foo-code>The null contact's name is {{nullContact<span style="color: #000;">?.</span>name}}</foo-code></pre>

        </section>


        <section>
          <h2>Simple Forms</h2>

          <p>Using <code>ngModel</code> we can already create simple forms.</p>
          <pre ng-non-bindable style="margin-top: 1em; font-size: 1.2em; line-height: 40px;"><code>&lt;form&gt;

  &lt;label&gt;Firstname:&lt;/label&gt;
  &lt;input [(ngModel)]="contact.firstname"&gt;

  &lt;label&gt;Lastname:&lt;/label&gt;
  &lt;input [(ngModel)]="contact.lastname"&gt;
  ...
&lt;/form&gt;
</code></pre>
        </section>

        <!-- <section class="statement-slide" data-background="#DD0031"> -->
        <!--   <h3>Exercise 7: Two-way Data Binding with ngModel</h3> -->
        <!-- </section> -->


        <!-- <section class="sub-section-slide" data-background-transition="slide" data-background="#c3002f"> -->
        <!--   <h2>Posting Data</h2> -->
        <!-- </section> -->

        <section>
          <div>
            <h2>Pipes</h2>

            <p>A pipe takes in data as input and transforms it to a desired output.</p>

          <pre ng-non-bindable style="font-size: 1.2em; line-height: 40px; margin-top: 1.5em;"><code>@Component({
  selector: 'trm-contacts-detail',
  template: `
    ...
    <span>Birthday:</span>
    <span>{{contact?.dateOfBirth | date}}</span>
  `
})
class ContactsDetailComponent { }</code></pre>
          </div>
        </section>

        <section>
            <h2>Pipes</h2>

            <p>A pipe takes in data as input and transforms it to a desired output.</p>

          <pre ng-non-bindable style="font-size: 1.2em; line-height: 40px; margin-top: 1.5em;"><foo-code>@Component({
  selector: 'trm-contacts-detail',
  template: `
    ...
    &lt;span&gt;Birthday:&lt;/span&gt;
    &lt;span&gt;<span style="color: #000;">{{contact?.dateOfBirth | date}}</span>&lt;/span&gt;
  `
})
class ContactsDetailComponent { }</foo-code></pre>
        </section>

        <section>
        <h2>AsyncPipe</h2>

        <p>The Async pipe can receive a Promise or Observable as input and subscribe to the input automatically.</p>
        <pre ng-non-bindable style="font-size: 1.2em; line-height: 35px; margin-top: 1.5em;"><code>import { Observable } from 'rxjs/Observable';

@Component(...)
class ContactsListComponent {

  contacts: Observable&lt;Array&lt;Contact&gt;&gt;;

  constructor(contactsService: ContactsService) {
    this.contacts = contactsService.getContacts();
  }
}</code></pre>
        </section>

        <section>
        <h2>AsyncPipe</h2>

        <p>The Async pipe can receive a Promise or Observable as input and subscribe to the input automatically.</p>
        <pre ng-non-bindable style="font-size: 1.2em; line-height: 35px; margin-top: 1.5em;"><foo-code><span style="color: #000;">import { Observable } from 'rxjs/Observable';</span>

@Component(...)
class ContactsListComponent {

  contacts: <span style="color: #000;">Observable&lt;Array&lt;Contact&gt;&gt;;</span>

  constructor(contactsService: ContactsService) {
    <span style="color: #000;">this.contacts = contactsService.getContacts();</span>
  }
}</foo-code></pre>
        </section>

        <section>
        <h2>AsyncPipe</h2>

        <p>The Async pipe can receive a Promise or Observable as input and subscribe to the input automatically.</p>
        <pre ng-non-bindable style="font-size: 1.2em; line-height: 35px; margin-top: 1.5em;"><code>@Component({
  template: `
    &lt;ul&gt;
      &lt;li *ngFor="let contact of contacts | async"&gt;
        ...
      &lt;/li&gt;
    &lt;/ul&gt;
  `
})
class ContactsListComponent {...}</code></pre>
        </section>

        <section>
        <h2>AsyncPipe</h2>

        <p>The Async pipe can receive a Promise or Observable as input and subscribe to the input automatically.</p>
        <pre ng-non-bindable style="font-size: 1.2em; line-height: 35px; margin-top: 1.5em;"><foo-code>@Component({
  template: `
    &lt;ul&gt;
      &lt;li *ngFor="<span style="color: #000;">let contact of contacts | async</span>"&gt;
        ...
      &lt;/li&gt;
    &lt;/ul&gt;
  `
})
class ContactsListComponent {...}</foo-code></pre>
        </section>

      </div>

    </div>
    <script src="js/app.js"></script>
    <script src="lib/js/head.min.js"></script>
    <script src="js/reveal.js"></script>
    <script src="js/reveal.config.js"></script>

  </body>
</html>
