.ta-c {
	text-align: center !important;
}

.ta-l {
	text-align: left !important;
}

.full {
	width: 100%;
}


.c-alert {
	&, * {
		color: red !important;
	}
}

.c-black {
	color: #000 !important;
}

.c-light {
	color: #fff !important;
}

.reveal {
	.deck-slide {
		h1 {
			margin-top: 0;
		}
	}

	code, foo-code {
		&.small {
			font-size: 0.75em;
		}
	}

	.footnote {
		margin: 0;
		font-size: 0.5em;
		+ pre, + img {
			margin-top: 10px;
			margin-left: 0;
			margin-right: 0;
			width: 100%;
		}

		+ img {

		}
	}

	.statement-slide {
		h3 {
			margin: 0;
		}
	}
}

.col-2 {
	display: flex;
	>* {
		margin-left: 5px !important;
		margin-right: 5px !important;
		flex-grow: 1;
	}
}






/*

Orginal Style from ethanschoonover.com/solarized (c) Jeremy Hull <sourdrums@gmail.com>

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #fdf6e3;
  color: #657b83;
}

.hljs-comment,
.hljs-quote {
  color: #93a1a1;
}

/* Solarized Green */
.hljs-keyword,
.hljs-selector-tag,
.hljs-addition {
  color: #859900;
}

/* Solarized Cyan */
.hljs-number,
.hljs-string,
.hljs-meta .hljs-meta-string,
.hljs-literal,
.hljs-doctag,
.hljs-regexp {
  color: #2aa198;
}

/* Solarized Blue */
.hljs-title,
.hljs-section,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: #268bd2;
}

/* Solarized Yellow */
.hljs-attribute,
.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-class .hljs-title,
.hljs-type {
  color: #b58900;
}

/* Solarized Orange */
.hljs-symbol,
.hljs-bullet,
.hljs-subst,
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-link {
  color: #cb4b16;
}

/* Solarized Red */
.hljs-built_in,
.hljs-deletion {
  color: #dc322f;
}

.hljs-formula {
  background: #eee8d5;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}
